sudo: false
dist: xenial
language: python
install: pip install tox
script: tox

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: pypy2.7-6.0
      env: TOXENV=pypy
    - python: pypy3.5-6.0
      env: TOXENV=pypy3
